body {
  background: #0b0b0b;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-container {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.2);
  width: 300px;
  text-align: center;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
}

button {
 background:linear-gradient(135deg,#7b61ff,#00d4ff);
  color: black;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
background:linear-gradient(135deg,#00d4ff,#7b61ff,#00d4ff);
}
